@font-face {
  font-family: "OpenSans";
  src: url("../asset/font/OpenSans-VariableFont_wdth,wght.ttf"); 
}

@font-face {
  font-family: "OpenSans-italic";
  src: url("../asset/font/OpenSans-Italic-VariableFont_wdth,wght.ttf"); 
}
